[2020-11-22 02:46] fventuri opened #1 "Problem compiling gr-sdrplay3 on Mac"
@bob-uk reported the following problem:

On the issue of the gr-sdrplay OOT modules, I hadn't clocked their import so am looking at them now. As I said I have gr 3.8 loaded and running so have built 3.9 and installed it to a diffefent location, hopefully they won't trample on each other. I am running on mac Catalina and have some problems compiling gr-sdrplay3, both with clang and gcc/g++

in rsp_

[2020-11-22 03:29] fventuri commented on #1
Bob,
I am running Linux here (Fedora 33, to be exact) so there are probably a few differences between Linux and Mac that we just need to figure out.

A few notes:
- to make sure we are both on the same page (and that the code in the repo compiles with the current headers of GNU Radio from master), I made a clone of this repository in a new directory, compiled with gcc, and it compiled everything w

[2020-11-22 12:18] bob-uk commented on #1
Franco

Thank you again for the prompt response and help. Just to update you on where I have got too.

I have been doing some more investigation and it looks like I have been using Apple clang all along.  I though /usr/bin/g++ was the gnu version but it is really clang.  I have now tried to build using a real gnu compiler in /usr/local/bin.

So to be clear the compile problem I was having was comi

[2020-11-22 13:37] bob-uk commented on #1
Franco

Further update, gr 3.9 has the same library problem when linking with the gnu compiler, so will look into this further.  This appears to be a particularly mac osx problem

Bob

[2020-11-22 16:56] fventuri commented on #1
Bob,
thanks for pointing out to the problems compiling the code under clang/clang++.

I just pushed a commit with a few code changes (mostly with missing 'override' in several places; looks like gcc/g++ is more lenient than clang about that) to the repository; the module now compiles cleanly here (no errors or warnings) with both gcc/g++ and clang/clang++.

The command I used here on Linux to crea

[2020-11-22 19:37] bob-uk commented on #1
Franco

Thanks for the update, which has fixed the compile issues with override, unfortunately still failing in the Xcode include files, process outlined below with hopefully helpful files.

I have done a pull from the repository, cleaned out build directory, invoked cmake with
cmake -DCMAKE_INSTALL_PREFIX=~/prefix-3.9 -Wno-dev ..
make VERBOSE=1, output attached and it is failing with the attached

[2020-11-22 20:49] fventuri commented on #1
Bob,
I just added a hash function to the declaration of those 'unordered_map' data structures, as suggested here: https://stackoverflow.com/a/22361511

When you have time, pull the repo again, try to build it using clang, and hopefully this time you'll be able to compile on your Mac without any error or warning.

Franco

[2020-11-22 22:22] bob-uk commented on #1
Franco

Just a quick update.  I have pulled the repo and it now compiles, but linker complains of undefined sysmbols.  Looking on the web it appears that on the mac "-undefined dynamic_lookup" needs to be defined to the linker - this appears to be the default for g++ on linux.  Added this to CMakeCache.txt and it builds, so now looking to do some testing tomorrow

Thanks for the support.

I will u

[2020-11-22 22:26] fventuri commented on #1
Thanks Bob for the update.
Once you get everything working there, please let me know what you did to get it to work on your Mac, so I can add a section for Mac users in the README (I believe you are the first one to try to compile it and run it on a Mac).

Franco

[2020-11-26 15:45] bob-uk commented on #1
Franco

Just a quick interim update.  Still working through Mac dependancy hell!  Unlike linux distributions which have a unified package manager for a given distribution, no such animal exists in the Mac OSX space.  Apple doesn't provide a package manager so a number have emerged, with two main ones being macports and homebrew - unfortunately they don't play nicely with each other and like most d

[2020-11-26 16:06] fventuri commented on #1
Thanks for the update Bob.
I am glad to hear that gr-sdrplay3 is working on your Raspberry Pi.

I am just curious: what do those Mac errors say?

Franco

[2020-12-18 14:24] gvanem opened #2 "Problem with `dynamic initializer for 'antennas'"
First off, I'm a bit confused whether this is the last / most up-to-date version of this block.

But my issue building this on Win-10 using MSVC, was plainly this C++ exception (from CDB after generating `rsp1.py`):
[code]

At first (when running w/o the debugger), I thought it had something to do with mixing CRTs; `MSVCR90.dll` in `SDRPLAY_API.dll`
and `vcruntime140.dll` in my Python 3.6. But no.

[2020-12-19 03:05] fventuri commented on #2
@gvanem
first of all thanks for opening this issue and for your feedback.

To answer your question, this version is for GNU Radio 3.9 (and future versions), while the module in the 'gr-sdrplay' repo (branch 'API3+RSPduo') is for GNU Radio 3.7.
As far as I can tell (and remember since I worked on them several months ago) there's not much difference in functionality between the two modules; it all d

[2020-12-19 11:50] gvanem commented on #2
I started with CMake 5 years ago, but failed and feeled it was clumsy. So I then created some GNU-makefiles to build most of GnuRadio. Also for this module. So I do not know if your `CMakeLists.txt` will work for Windows/MSVC. But it does not seems
very gcc/POSIX centric. It should work using `cmake -G "NMake Makefiles" ..`. But trying this here now, there are far too many missing `.cmake` files.

[2020-12-19 14:52] fventuri commented on #2
I just sync'd up with the latest commit from GNU Radio master, built it, rebuilt this gr-sdrplay3 module from scratch (using gcc, since that's the default), and, since I have an RSP2 here, I ran the very simple 'rsp2.grc' flowgraph (in the 'examples' folder) using GRC without any errors.

I also rebuilt just the module using Clang 11.0.0 (using the command `CC=/usr/bin/clang CXX=/usr/bin/clang++ c

[2020-12-19 19:24] gvanem commented on #2
Another problem just happened [after](https://github.com/gnuradio/gnuradio/commit/a94c4f228750213c20ea51a3e9a31283942052f1) (I think) In converting `rsp1a.grc` to `rsp1a.py` and running it:
[code]

[2020-12-20 04:32] fventuri commented on #2
@gvanem
I spent some time today trying to build GNU Radio 3.9 (the master branch) on Windows 10 using Visual Studio 2019 Community Edition; I was able to build 'volk', however with 'gnuradio' itself there are many dependencies (to give you an idea, take a look at the the list in this page: https://www.castle.cloud/gnuradio-for-windows/download/) that need to be built and installed before building

[2020-12-20 06:14] gvanem commented on #2
No, I downloaded it, did a `cd msvc\log4cppLIB` and ran `msbuild log4cppLIB.vcxproj`.
But you could do a `vcpkg install log4cpp x64-windows-static` (or `x64-..`). VCPKG is available [here](https://github.com/microsoft/vcpkg/releases).

[code]

The diff is due to change of `<GR-root>/share/gnuradio/grc/blocks/options.block.yml`.
I have that change, but `grcc` seemed to pick-up the other `<GR-root>/

[2020-12-20 20:42] fventuri commented on #2
I figured out where that `GNU Radio version: v3.8.0.0-843-g6d6c9a2` comes from; looking through the code (`&lt;GR-root&gt;/cmake/Modules/GrVersion.cmake`), I found out apparently there are two version numbers in GNU Radio: one is called `VERSION` and comes from the output of the command `git describe` (which here returns `v3.8.0.0-843-g6d6c9a25`), while the other is called `LIBVER`, and this one i

[2020-12-21 07:33] gvanem commented on #2
`v3.8.0.0-844-gef9aab471`

No, I have never tried that. Build most of my things using 32-bit. Looking at `log4cppLIB.vcxproj`, it does not contain any `x64` or `Win64` entries. So I fail to see how on uses that for `x64`.

Since I feel VC project files are more obfuscated than CMake, I seldom do that. Not in relation with GnuRadio anyway.
I rather create a GNU-makefile for it. Or use my simple Mak

[2021-01-16 16:13] guruofquality opened #3 "FindLibSDRplay.cmake registry path (win32)"
https://github.com/fventuri/gr-sdrplay3/blob/master/cmake/Modules/FindLibSDRplay.cmake also needs the path fixed

[2021-01-16 16:38] guruofquality commented on #3
Other typos and missing link stuff

[code]

[2021-01-17 00:06] fventuri commented on #3
@guruofquality - Thanks for the fixes, Josh!

I just pushed all of your changes to master; let me know if I missed anything.

Franco

[2021-01-17 02:01] guruofquality commented on #3
Builds now, thanks!

[2021-01-17 02:01] #3 closed

[2021-05-27 09:14] juriguen opened #4 "No module named 'sdrplay3' error"
Hi!

I'm trying to make the SDRplay RSPdx module work in GNU Radio but, after installing the latest app version for Ubuntu and following the instructions of the readme file to build the block, I try to run a very simple example and get the error: ModuleNotFoundError: ![Screenshot from 2021-05-27 11-10-30](https://user-images.githubusercontent.com/5476552/119799832-be511700-bedc-11eb-8904-607024c20

[2021-05-27 11:41] fventuri commented on #4
@juriguen - I am not really sure what went wrong, but we can try to troubleshoot the problem together with these few steps:

- To make sure the install part had no problems, please run again the command `sudo make install`in the directory where you built the sdrplay3 GNU Radio module; the output should contain lines like these (any warning or error here could be a sign of a problem):
[code]

- Nex

[2021-05-28 06:54] juriguen commented on #4
Hi! Thanks for the answer

When I check the contents of the `sdrplay3` directory, I get twice as many files as you:
[code]

I guess this is due to me trying to correct the issue yesterday by installing a newer version of Python, which I have removed today.

Then, the `ldd` command gives:
[code]

The `sudo ldconfig` didn't solve the issue either... Any other ideas?

Toni

[2021-05-28 07:32] juriguen commented on #4
Hi again

The issue seemed to be that the `PYTHONPATH` and/or `LD_LIBRARY_PATH` variables had to include the `sdrplay3` directory, as they have pointed out to me in `https://chat.gnuradio.org/#/room/#gnuradio:gnuradio.org`

Now I get another error:
[code]
Do you know how should I proceed?

Toni

[2021-05-28 07:36] juriguen commented on #4
Well, sorry I am sending so many messages, but I think I solved it. The example had an RSP selector field as "****" and I just erased that I left it blank. It now seems to work.

Thanks!
Toni

[2021-05-28 07:44] juriguen opened #5 "Scan spectrum"
Hi again

This might not be an issue of your software, but I have implemented a simple flow to try to change the center frequency of the RSPdx device in real time and it crashes (after some time running, during which I am unsure as to whether it actually tunes to different frequencies).

Do you know if your implementation of the device allows for the center frequency to be changed in real time?

T

[2021-05-28 11:22] fventuri commented on #5
@juriguen - I think changing the center frequency should work.
In the worst case scenario it should print some sort of error message, but definitely not crash.

Can you attach here the .grc file you used for your GNU Radio flowgraph so I can give it a try, and see if it works for me (and perhaps fix the problem if it doesn't)?

Thanks,
Franco

[2021-05-28 11:25] fventuri commented on #4
@juriguen - I am glad to hear that you were able to figure out and solve the problem!

If you have multiple RSP devices connected, you can use to RSP selector field to enter the serial number of the specific one you want to stream from.

Franco

[2021-05-28 11:25] #4 closed

[2021-06-23 09:14] juriguen commented on #5
Hi again

I made the flow run, and changing frequencies sometimes worked, but some other times it did not. I will post the error another day, since I am working from home today and do not have access to the SDR device.

I do have one more concern, though. Does your module introduce any distortion when tuning a certain frequency band (that you know of)? I have scanned the RF spectrum a couple of ti

[2021-06-23 13:43] fventuri commented on #5
@juriguen - Toni, thanks for the feedback

For the first problem, regarding the updates to the frequency not taking place all the times, I received a note by @SDRplay a week ago or so about something very similar happening with the SoapySDR module SoapySDRPlay.

He mentioned that the SDRplay API for updates to the sample rate, frequency, and gain (reduction) are asynchronous, i.e. a call to the `s

[2021-06-23 15:51] Pratik310commits opened #6 "Problem installing SDRPlay API for Jetson Nano (ARM Ubuntu)"
I have installed SDRPlay API 3.07, updated by GNURadio to latest, and followed the workflow given for Installation, still now able to successfully get SDRPlay working in conjunction with GNURadio Companion, for RSP1A.

![rpi_screenshot_grc](https://user-images.githubusercontent.com/78300006/123128861-7bba2600-d419-11eb-881a-5b60e91bd4ff.png)
Was successful in getting it to work for Raspberry Pi, b

[2021-06-23 22:42] fventuri commented on #6
@Pratik310commits - thanks for reporting this problem with the 'gr-sdrplay3' GNU Radio OOT module.

As mentioned in the README (https://github.com/fventuri/gr-sdrplay3/blob/master/README.md#important-notice), this GNU Radio OOT module requires GNU Radio version 3.9 (or newer); the screenshot you attached makes me think the Jetson Nano is  instead running on older version (3.7.13.4).
Another indica

[2021-06-23 23:55] Pratik310commits commented on #6
Thanks for the quick response Franco.
The screenshot I am posted, is on the raspberry pi
On the Jetson nano, I couldn't all the steps mentioned in the workflow done.
I used the workflow as in the screenshot I'm posting

![Screenshot_20210623-195049](https://user-images.githubusercontent.com/78300006/123182055-9eb9f980-d45c-11eb-94ed-1172d2189499.jpg)

Also, how do I get the sample console app runn

[2021-06-24 01:50] fventuri commented on #6
@Pratik310commits - thanks for posting the screenshot of the workflow - now I understand much better what you are trying to do.

I see the instructions in the workflow use the SDRplay API 2.13 and the github repository: https://gitlab.com/HB9FXQ/gr-sdrplay - to try to avoid any compatibility problem I would recommend that you follow what SDRplay instructions say, i.e. build the GNU Radio module 'g

[2021-06-24 01:56] Pratik310commits commented on #6
"_build the GNU Radio module 'gr-sdrplay' using that version on https://gitlab.com/HB9FXQ/gr-sdrplay and not this one._"
I am a bit confused about this. Could you please explain again? Do I use it or not?
And for Raspberry Pi also, do I use
"_remove the files you installed from the git repo https://github.com/fventuri/gr-sdrplay3, reboot it, and then try again to run the commands in SDRplay workfl

[2021-06-24 07:47] juriguen commented on #5
Hi again

The distortion I mean is that, given a sampling rate of 2MHz, for instance, when I scan the spectrum, store the IQ samples and then plot the entire spectrum with Matlab, I get like a seesaw effect in which about 500KHz seem to be further enhanced compared to the BW (which I have assummed is the same as the sampling rate).

I attach a screenshot of the GNUradio flow. If you want the grc f

[2021-06-24 13:58] fventuri commented on #6
@Pratik310commits - I really apologize that my comment made you more confused instead of helping.

There are currently two different versions of the SDRplay API that you can use with the RSPs and GNU Radio:

- SDRplay API version 2.X (I think the current version is 2.13) - this is the one that is used in the SDRplay workflow that you show above, and this is the one I suggest you try first because

[2021-06-24 14:36] Pratik310commits commented on #6
Thanks alot
I'll look into this right away.

[2021-06-24 14:40] fventuri commented on #5
Thanks @juriguen for the screenshots.

I don't remember how the block parameter `Bandwidth` set to `AUTO` works (I would have to look at the source code when I have some time), but to rule that out (or not), I would like you to run a couple more scans with the parameter `Bandwidth` in the RSPdx block set explicitly to 1.536MHz first and then to 5MHz to see if there's any difference in the Matlab s

[2021-06-24 18:48] Pratik310commits commented on #6
On the Jetson Nano, I did the following things
1. Installed SDRPlay API 3.07 using the .run file with the description "API 3.07 (for 64bit OS)"
2. Installed GNURadio 3.9.0 using _https://wiki.gnuradio.org/index.php/InstallingGR_
3. Followed the workflow with the following commands
    a. sudo apt get install swig git cmake libboost all dev
    b. mkdir ~/Dev && cd ~/Dev
    c. git clone https://gi

[2021-06-24 19:10] fventuri commented on #6
@Pratik310commits - congratulations! I think you are almost there.

It looks like you just need to install the 'pybind11-dev' package - please run this command:

and after that, please try running step 3.e again

Franco

[2021-06-24 19:30] Pratik310commits commented on #6
I did actually the missing package
The I had the issue that i previously raised - errors in the libraries installed

/home/pratik/Pictures/error_after_pybind.png

[2021-06-24 20:29] fventuri commented on #6
@Pratik310commits

I looked at the first of those errors:

and, according to some pages I found with Google, it seems it might be due to a missing include.
Since that template function is defined in the header `pybind11/detail/common.h`, could you edit the source file `python/bindings/rsp1_python.cc`, and add this line after the include's at the beginning of that file (i.e. after line 12)?

after

[2021-06-24 20:51] Pratik310commits commented on #6
I will try modifying the header file and post an update. Also, I am using Ubuntu 18.04, on ARM

[2021-06-24 22:20] fventuri commented on #6
@Pratik310commits

How did you install GNU Radio 3.9 on your Ubuntu 18.04 using the instructions here: https://wiki.gnuradio.org/index.php/InstallingGR ?

I just tried here two different ways:

but these commands installed GNU Radio 3.8 (not 3.9, despite of they say in that installation document); I checked it with this command:

and I see that the version is 3.8

I also tried with these commands:

[2021-06-25 00:36] Pratik310commits commented on #6
I did the same
First installed with
`sudo add-apt-repository ppa:gnuradio/gnuradio-releases
sudo apt-get update
sudo apt install gnuradio`

It gave me error saying, 3.8 was found, not 3.9
I checked the version using
`gnuradio-config-info --version`
It said 3.8

So then I did
`sudo add-apt-repository ppa:gnuradio/gnuradio-master
sudo apt-get update
sudo apt install gnuradio`

This installed without

[2021-06-25 01:54] fventuri commented on #6
@Pratik310commits - thanks for your reply.

I did some research on the dependency error I saw earlier when trying the repository `ppa:gnuradio/gnuradio-master`, and it turns out I am having the exact same problem discussed in this thread on the `discuss-gnuradio` mailing list: https://lists.gnu.org/archive/html/discuss-gnuradio/2021-02/msg00129.html

According to the reply there it is not possible

[2021-06-25 02:11] Pratik310commits commented on #6
@fventuri
Thanks for these quick responses and researches/
I will let you asap..

[2021-06-25 02:18] Pratik310commits commented on #6
@fventuri
I am new to Linux and Ubuntu and struggling, could you help me with the command or method to find out the version and repository of the libvolk package?

[2021-06-25 02:25] Pratik310commits commented on #6
Used the command `sudo apt list --installed | grep -i libvolk`

Result:

libvolk2-bin/bionic,now 2.3.0-2~ubuntu18.04.1~ppa1 arm64 [installed,automatic]
libvolk2-dev/bionic,now 2.3.0-2~ubuntu18.04.1~ppa1 arm64 [installed,automatic]
libvolk2.0/now 2.0.0-2~bionic1 arm64 [installed,local]
libvolk2.2/now 2.2.1-2~ubuntu18.04.1~ppa1 arm64 [installed,local]
libvolk2.3/bionic,now 2.3.0-2~ubuntu18.04.1~ppa1

[2021-06-25 12:37] fventuri commented on #6
@Pratik310commits - thanks for the versions of the `libvolk` library

This morning I was finally able to install the package `libvolk2.2` here, run all the other steps in the instructions (instead of `swig` I used `pybind11`, since this is the new type of Python bindings being used by GNU Radio starting with version 3.9), and the build was successful for me:

![Screenshot from 2021-06-25 08-28-41]

[2021-06-25 12:43] Pratik310commits commented on #6
Yes, I will try the API version 2.13 first
Then once that starts working, I will spend time with the C/C++ issues

[2021-06-28 15:47] Pratik310commits commented on #6
I installed SDRPlay API 2.13 and GNURadio 3.7
I got the following error during the last step pf the workflow: `cmake .. && make && sudo make install && sudo ldconfig`

![error_during_normal_3 7](https://user-images.githubusercontent.com/78300006/123665204-0e860680-d806-11eb-8d03-090e4487a6f5.png)

Then I tried installing GNURadio 3.8 and got the error:

![trying_install_3 8](https://user-images.gi

[2021-06-28 16:41] Pratik310commits commented on #6
Hi @fventuri
Apart from the above update, something much weirder happened
Since I couldn'tget anything to install correctly, I just thought of installing SDRPlay 3.07 and GNURadio 3.9 AGAIN, after trying to install SDRPlasy API 2.13 along with GNURadio 3.7

and  it worked
I dont which residue files helped or what happerned,orif they updated something on SDRPlay's end

But look at this:

![finally

[2021-06-28 16:50] fventuri commented on #6
@Pratik310commits - Congratulations!

I am very happy to see if finally worked with the new SDRplay API 3.07!

(BTW the earlier error about the 'wrong format' typically happens when for some reason x86/x64 Intel binaries or objects get mixed together with ARM binaries/objects).

Franco

[2021-06-28 17:08] Pratik310commits commented on #6
@fventuri
Oh yea, the binaries not being for the appropriate architecture, but I was wondering why did it start behaving that way all of a sudden.
So I gave up on that and just tried one last go at the latest APIs.
Thanks for the quick responses a lot.

[2021-07-13 12:57] Pratik310commits commented on #6
Hi @fventuri
I might be knocking at the wrong door here, but I want to know whether there is an updated version of the sample_app.c code.
Because the one that I am trying to work with (after a long time after successfully installing SDRPlay), gives errors like "Too few arguments"
This is definitely because of changes made to the API itself, so I looked for an updated version but had no luck
I am t

[2021-07-13 13:55] Pratik310commits commented on #6
*Update*
I found the latest API sample_example_app.c in the API documentation pdf. the code still has issues in getting compiled.
I am not new to C/C++ programming, but I am still not able to get it to work.
It shows undefined reference to all the functionas

![2021-07-13-094530_1920x1200_scrot](https://user-images.githubusercontent.com/78300006/125464460-90d97bd7-37a6-4f0e-a9a2-1bafeb559ede.png)

[2021-07-14 18:28] fventuri commented on #6
@Pratik310commits
Those `undefined reference` error messages normally happen when you don't add the sdrplay_api library to the load/link command.

From your screenshot above I can't see the exact command you are using, but assuming you have something like `gcc ...... sdrplay_api_example.c`, you probably need to append something like `-L/usr/local/lib -lsdrplay_api`:

[code]

Hope this helps,
Franc

[2021-07-26 15:22] Pratik310commits opened #7 "Isssues installing gr-osmocom with SDRPlay 3 and GNURadio 3.9"
Hi @fventuri
I want to connect a HackRF One device with my NVIDIA Jetson nano. I have GNURadio 3.9 and SDRPay API 3.07 currently installed.
I used "https://github.com/osmocom/gr-osmosdr" and followed the instructions but got numerous errors
Do you suggest a  different source/repo?
I am attaching the text file with the errors.
[osmocom_errors.txt](https://github.com/fventuri/gr-sdrplay3/files/68793

[2021-07-26 17:06] fventuri commented on #7
@Pratik310commits
looking at the error message you sent me and at the `gr-osmosdr` web page here: https://osmocom.org/projects/gr-osmosdr/wiki/GrOsmoSDR, I am pretty sure you are missing some dependencies.

If you notice in that page, it says:

For instance in your case you'll need the `libhackrf` library (I think in Ubuntu it is in the package `libhackrf-dev`), `libsndfile`, and perhaps others.
A

[2021-08-05 21:09] Pratik310commits commented on #6
Hi @fventuri
Came back to working on jetson nano after working on raspberry pi for couple of weeks, to try and replicate the work on jetson nano

The simple flowgraph won't execute
![sdrplay3_not_found](https://user-images.githubusercontent.com/78300006/128421236-5b66fbc5-24bd-41d9-98ca-ef12fca86d56.png)
Error: File "/home/pratik/EMSA/GRC_Projects/sweep_no_headblock/FFT_Sink/FFT_Sink.py", line 34,

[2021-08-05 21:24] Pratik310commits commented on #6
I added the samp_erate variable back in, still doesn't work.

however, when I created a console app, it works perfectly fine

![samp_rate_added](https://user-images.githubusercontent.com/78300006/128423186-df2f999b-5590-43f1-9407-b8b4d6bce3b0.png)

[2021-08-05 23:46] fventuri commented on #6
@Pratik310commits
- for the first issue with the message `No module named 'sdrplay3'`, you may want to see if that module is in your Python search path `sys.path` (https://docs.python.org/3/library/sys.html#sys.path); you can find out what `sys.path` is set to by adding the following debug line in the Python script right before the line with `import sdrplay3`:
[code]
If the module `sdrplay3` is no

[2021-09-14 10:57] Alster opened #8 "RSPDuo: startup frequencies"
Hi!

Just noticed that at flowgraph startup RSPDuo in DualTuner & IndependentRX mode both channels uses same frequency, even if they are different. Looks like channel 2 always use frequency from channel 1. When you change frequency later, in realtime, all works fine.

In this animation, we see that at the beginning frequencies are different (8e6 and 18e6), but signals looks the same. Also we see t

[2021-09-14 11:04] Alster commented on #7
@Pratik310commits looks like [this patch](https://lists.gnu.org/archive/html/discuss-gnuradio/2020-09/msg00055.html) can help you

[2021-09-14 12:23] fventuri commented on #8
@Alster - thanks for the reporting the problem.

I only had a few minutes this morning before work to take a quick look at it.

I added this debug line right before the call to`'sdrplay_api_Init()` in the source file `lib/rsp_impl.cc` (https://github.com/fventuri/gr-sdrplay3/blob/master/lib/rsp_impl.cc#L524):

[code]

I rebuilt and reinstalled the `gr-sdrplay3` module, and then ran your flowgraph

[2021-09-14 15:53] Alster commented on #8
Yes, see the same output:
`just before sdrplay_api_Init() - freq0=1.8e+07 - freq1=8e+06`

I just added another debug line, right [before this one](https://github.com/fventuri/gr-sdrplay3/blob/7c54c3f432890ea1758ff13776602f02be48bc16/lib/rspduo_impl.cc#L97), to see previous frequency value before setting new:
[code]

And got this output:
[code]

Strange, but I faced with similar problem[ when makin

[2021-09-15 01:03] fventuri commented on #8
@Alster - I ran a few more tests tonight, and I think you have a point about a possible bug in the SDRplay API.

What I did was to add the following debug statement right after the call to `sdrplay_api_Init()` (i.e. before this line: https://github.com/fventuri/gr-sdrplay3/blob/master/lib/rsp_impl.cc#L529):
[code]
and this is what I saw running your flowgraph:
[code]
in other words, it looks like

[2021-09-15 10:26] Alster commented on #8
Yes, your hack from `fix_tuner2_frequency_for_independent_rx` branch successfully solved issue, and all works fine!
What about another settings: looks like Gain AGC bugged too
Anyway, this issue can be closed for me, thank you for your work!

[2021-10-04 06:12] Pratik310commits opened #9 "How do I change frequency while the flowgraph is running?"
Hi @fventuri
I was (and still am) using an older version of the GNURadio API on my Raspberry Pi.
I need to change the frequency of the radio after a certain interval of time and I was doing right after tb.Start(True).
I did not want to use threads because I also want to get binary dumps in a different file each time I change the frequency, using the file_sink block.
I made this work in python by
1

[2021-10-04 06:16] Pratik310commits commented on #9
The following is the code that works on the Raspberry Pi

`tb.set_rsp1a_freq_mhz(0)
    tb.Start(True)

    print("Waiting for 2s to let the device settle")
    time.sleep(2)
    start = datetime.datetime.now()
    print("Starting @: ", start.strftime("%b_%d_%Y_%I_%M_%S"))
    freq = 1
    while(freq <= 20):
        ts = datetime.datetime.now().strftime("%b_%d_%Y_%I_%M_%S")

        # partial_file

[2021-10-04 06:18] Pratik310commits commented on #9
I am unable to get this code to work with the latest API
It just stops after changing the frequency the first time.
It just stops printing anything and the files created is 0 bytes.
I have to kill the process each time

[2021-10-04 06:29] Pratik310commits commented on #9
I just added the line after reconnecting the file_sink block and it works now (although still not till the end)
I added
`blocks_file_sink_0.set_unbuffered(False)`
Now my First question is still the same
Do you have suggestions for changing frequency and file name every time?

[2021-10-04 13:22] fventuri commented on #9
Pratik,
I just wrote the attached GNU Radio Python script that captures the I/Q samples for each MHz from 88MHz to 108MHz for 10 seconds; I ran it and it worked without any errors here (I am running the latest version of GNU Radio on Linux Fedora).

Franco

[change_frequency.py.gz](https://github.com/fventuri/gr-sdrplay3/files/7278279/change_frequency.py.gz)

[2021-10-05 02:47] AugustoMarziani commented on #9
Hi everyone! I think I have some similar issues. I am reading frequencies from an external file and I created an output to send to a scope and then change the frequency of the SDR in dual channel same frequency mode.
Each time the frequency it's changed I get the following error:
gr::log :ERROR: rspduo0 - sdrplay_api_Update(Tuner_Frf) Error: sdrplay_api_RfUpdateError
For a while the frequency swit

[2021-10-05 12:17] fventuri commented on #9
@Pratik310commits @AugustoMarziani - thanks for your reports about this bug.

I was able to reproduce that behavior last night with the simple flowgraph attached to this note.
I stopped the python script using the command `kill -ABRT <pid>`, which created a core dump; then with the command `coredumpctl debug` (or `gdb` if your Linux distribution doesn't have `coredumpctl`), I was able to see what

[2021-10-05 13:04] AugustoMarziani commented on #9
Thanks a lot! I will try to replicate what you did to see if it gives the same error.
I have to open another issue to ask for another problem I can not understand. I am working on a university project, if you can help me solving these problems, maybe we can also share the final product!

[2021-10-05 13:09] Pratik310commits commented on #9
Oh my! Thanks a lot for that detailed debug information.
I will check whether mine is caused by the same reasons and post it.
(Also working on a university project hahaha, I can relate with you @AugustoMarziani )

[2021-10-05 13:27] AugustoMarziani opened #10 "Problem managing two data stream from SDRplay RSPduo"
Hi everybody!
I am working on a project. The aim of this is to measure the power of the two signals at the same frequency coming from the RSPduo (diversity mode). I need to filter the two channels to reduce the noise bandwidth before measuring the power.
The problem is that, when I try to filter the data through the FFT low pass filter block, the processing crash.
If I use only one filter, and the

[2021-10-05 13:51] AugustoMarziani commented on #9
@Pratik310commits we can get in touch if you want. We can share information also by email.
marzianiaugusto@gmail.com

[2021-10-06 07:45] fventuri commented on #9
@Pratik310commits @AugustoMarziani

I suspect the race condition we are seeing is caused by me changing the value of the ring buffers head and tail variables inside the `start()` function without acquiring the mutex locks and without notifying the condition variables.

I added them and I just pushed the code to the new branch `fix_race_condition_on_ring_buffer`; I am running the simple Python scri

[2021-10-06 12:28] Pratik310commits commented on #9
Just yesterday I thought about using start() and stop() instead of lock-unlock
I was about to try it today.
I'll try both and post an update.

And I'm glad you are showing so much interest in our projects
Thanks alot @fventuri

[2021-10-06 15:06] AugustoMarziani commented on #9
@Pratik310commits can you please explain in detail what you did? I am not so practical about python programming. I am actually using the gr-companion GUI to put together blocks.

[2021-10-06 15:06] Pratik310commits commented on #9
I think I spoke too soon with the tb.start-tb.stop approach working perfectly
Even that misbehaves
`Changing freq to 9
gr::log :ERROR: rsp1a0 - sdrplay_api_Init() Error: sdrplay_api_AlreadyInitialised
Frequency set to 9
Changing freq to 10
gr::log :ERROR: rsp1a0 - sdrplay_api_Update(Tuner_Frf) Error: sdrplay_api_RfUpdateError
gr::log :ERROR: rsp1a0 - sdrplay_api_Init() Error: sdrplay_api_AlreadyIn

[2021-10-06 15:30] Pratik310commits commented on #9
@AugustoMarziani
I added the blocks I needed - stream to vector -> FFT -> File sink
And in  the generated Python file, I am making changes to change the centre frequency dynamically at run time and save the sink in different files each time.
i am doing this in the main() function

[2021-10-06 15:47] AugustoMarziani commented on #10
@fventuri thanks a lot. So now the original error seems to be solved. But another one appeared. It seems that in this way the SDR only work with the Automatic Gain Control setting turned on. If I disable it, I get the error:
gr::log :ERROR: rspduo0 - sdrplay_api_Init() Error: sdrplay_api_Fail
I tried it with the "fix_race_condition_on_ring_buffer"   branch and the simplified code. With the same co

[2021-10-06 16:09] Pratik310commits commented on #9
@fventuri
on calling `set_center_freq` , sometimes it gives me `Error: sdrplay_api_NotInitialised` and some times `Error: sdrplay_api_AlreadyInitialised`
This is when I am using the tb.start() and tb.stop() approach
Even when combined the two - tb.stop() + tb.lock() and tb.unlock() + tb.start(), it didn't work

Since tb.lock-unlock wasn't giving me these Initialisation errors, I thought I'll combi

[2021-10-06 16:38] Pratik310commits commented on #9
@fventuri
I did the following things (to sum it up) and I am getting the following issues

1. Tried the normal way of tb.stop - tb.start()
Issue : it gives me `Error: sdrplay_api_NotInitialised` and some times `Error: sdrplay_api_AlreadyInitialised`

2. Tried the tb.lock -  tb.unlock using the separate branch 'fix_race_condition_on_ring_buffer' (git clone -b fix_race_condition_on_ring_buffer https

[2021-10-06 19:18] Pratik310commits commented on #9
Apparently, GNURadio 3.7 requires python 2.7 which isn't supported in Ubuntu 20.04, if I am not wrong
So I can't install a previous version GNURadio on Ubuntu 20.04
Are suggestions for how should I proceed?
@fventuri

[2021-10-06 22:57] Pratik310commits commented on #9
NVM
Found the sdrplay 2.13 installation file

[2021-10-07 11:26] fventuri commented on #10
@AugustoMarziani - thanks for the debug info; it helps me understand what is the problem.

The LNA state is not a gain (or gain reduction), but it is rather a value/index that tells the RSPduo what the the gain reduction in the RF stage should be (and it is dependent on the RSP model, on the frequency range, and on the antenna input).

To better understand what I mean, please take a look at the ta

[2021-10-07 16:20] fventuri commented on #10
@AugustoMarziani
Ciao Augusto,
first of all, sorry for the confusion: I use the direct value of the LNA state in a different project (the SoapySDR driver SoapySDRPlay3), while in this GNU Radio module `gr-sdrplay3` the user selects both IF and RF attenuation in dB; I should have checked that before writing my previous comment.

Anyway, in the properties for the `gr-sdrplay3` block, under 'Gain Opt

[2021-10-11 19:28] AugustoMarziani commented on #10
Hi Franco,
during these days I was on leave, and I will not be available also during this week.. I will try to test again everything tomorrow. Can you please tell me which API and gnuradio version are you using?
Thanks in advance,
Augusto

[2021-10-18 09:38] kirat68 opened #11 "Dead lock"
Hello there,

Thank you for providing this useful code!

I am experiencing a dead lock when the destructor of sdrplay3 is called and after the function "void rsp_impl::stream_callback" acquired the lock. In this situation the call of the API function "sdrplay_api_ReleaseDevice" get blocked and just an api server restart can remove it what is very problematic.

You can reproduce it try it in the py

[2021-10-18 12:53] fventuri commented on #11
@kirat68 - thanks for the nice words and for reporting this problem.

I think you might have incorrectly cut&pasted the Python code in your example, because when I tried to run it here a minute ago, it failed with 'syntax error' (and looking at the actual code it seems that part of it was pasted twice, or something like that).

Franco

[2021-10-18 12:58] kirat68 commented on #11
Oh sorry true !!!
Here is the correct piece of code:

Regards

Tarik

[2021-10-18 13:09] fventuri commented on #11
Thanks Tarik for the correction.
I was able to reproduce your problem here too.

I have to start working now, but I'll take a look at what happens after dinner tonight, and I'll let you know what I find out.

Franco

[2021-10-19 07:09] kirat68 commented on #11
Bom dia Franco !

Thank you for your instantaneous reaction :-)
I tried your fix and it solves the deadlock problem, but I am experiencing something new that should not happen.
When removing hardly the SDR by pulling the USB cable, sdrplay3 seems to continue streaming iq data. The expected behavior should be not streaming. To better see what is going on, I attached 2 screen shots of the gnuradio f

[2021-10-21 01:33] fventuri commented on #11
@kirat68 - sorry for making you wait; I finally found some time tonight to test what happens in that scenario (pulling the USB cable while the RSP is streaming).

I used this GRC flowchart (https://github.com/fventuri/gr-sdrplay3/blob/master/examples/FM-Receiver-SDRplay.grc)' in it I just replaced the source block with an RSPdx source block (because this is what I have connected to my PC right now

[2021-10-21 06:02] kirat68 opened #12 "functions get_gain_range and get_freq_range should return an array"
This two functions return a float. Expected an array of 2 values.

[2021-10-21 11:10] kirat68 commented on #12
yes I see,
![Screenshot_20211021_120838](https://user-images.githubusercontent.com/34959570/138265852-b5fd7d31-3725-4a9c-bafa-1fcdbc68959a.png)
 but I struggle to understand why python is returning just on value.

[2021-10-21 11:11] kirat68 commented on #12
Please ignore the warn. Add in code to make sure that this function was called.

[2021-10-23 05:27] kirat68 opened #14 "Deadlock when staring sdrplay3 and sdrplay_api_server in state "ApiVersion Error: sdrplay_api_ServiceNotResponding""
Olá Franco,

Here an other deadlock. Opened a new issue because it is not related to the first deadlock I opened days ago.
To understand how I get in this situations. I am building a server that will control SDRs. As server it should stays online all the time and absolutely avoid crashes or deadlocks. That's why I am testing intensively start-stop-delete of sdrs. The first deadlock I mentioned day

[2021-10-29 21:17] fventuri commented on #14
Tarik, thanks for your patience with this issue.

I added a timeout (currently set to 60ms, since it seems to work in my tests here, but you can change it if you think it is too low or too high) to the `work() ` function to prevent it from waiting forever when the SDRplay API service gets terminated or crashes.

You can find the code with this change in the new branch `add_timeout_to_work_function

[2021-11-02 16:18] kirat68 commented on #14
Thank you Franco.
Will put this branch in my tests and let you know if I observe anything.

[2021-11-05 16:51] kirat68 opened #15 "Bandwidth setting AUTO does not "set the bandwidth to the largest value below the sample rate""
Hello Franco

Would be nice if you could check this issue. Setting Bandwidth to AUTO takes the lowest value of the allowed bandwidths and NOT "the largest value below the sample rate".

Test settings:
Sample rate = 5E6
Bandwidth = Auto

Result: Bandwidth = 2E5
Expected: Bandwidth = 4E6

Otherwise working very good. Thank you very much !!!

[2021-11-06 00:47] fventuri commented on #15
@kirat68 - thanks for pointing out this problem.

It should now be fixed in the `master` branch.

Please also note that 4e6 is not one of the bandwidth supported by SDRplay RSPs; you can find the list of supported values in the SDRplay API Specification guide at page 12: 200k, 300k, 600k, 1536k, 5M, 6M, 7M, and 8M.

Franco

[2021-11-06 06:39] kirat68 commented on #15
Yes yes just realized that 4E6 was not the correct value and corrected my comment before seeing yours :-)

[2021-11-06 06:46] kirat68 commented on #15
Expected value should be in this case 5E6. Specification should be:
"set the bandwidth to the largest value below **or equal* to the sample rate"
Am I right ?

[2021-11-06 10:43] fventuri commented on #15
@kirat68 - please note that in the same commit yesterday (https://github.com/fventuri/gr-sdrplay3/commit/c74162f756081b7d23fb4a229b73cbb086918c0b), I changed that wording to "compatible with".

Franco

[2021-11-09 11:38] kirat68 commented on #15
Perfect !!!

[2021-11-16 15:19] kirat68 opened #16 "Output stdout to GRC message port"
This feature would be nice to have:
- Output of stdout to a gnuradio message port for further processing inside the python script

[2021-11-16 22:34] gom-4 opened #17 "Module sdrplay3 not found"
Hi everyone,
I've already installed gr-sdrplay3 and the API without any problem. However, when trying to execute gr-sdrplay3/examples/FM-Receiver-SDRplay with an RSPduo I get a ModuleNotFoundError: No module named 'sdrplay3'.
I'm using Ubuntu20.04 & GNURadio 3.9.3.

Can anyone help me with this?

The gnuradio console response:

[code]

[2021-11-17 00:34] fventuri commented on #17
The first thing I would try is just:
[code]
since on some Linux distributions the `ld` cache needs to be refreshed when a new shared library is installed.

If that doesn't help, please try to run this simple Python script:
[code]

it should print a list of directories (your Python 'path'); please go through them and make sure one of them contains a directory called `sdrplay3` (in my case, on Fedor

[2021-11-17 00:58] fventuri commented on #16
Tarik,
I looked at the source code for the `gr-sdrplay3` GNU Radio module and I don't see anywhere where it is writing directly to `stdout` (or to the C++ stream `std::cout`).

I also just ran the FM receiver example (https://github.com/fventuri/gr-sdrplay3/blob/master/examples/FM-Receiver-SDRplay.grc) for about 30 seconds, and the only messages I see on the console are warning and info log messag

[2021-11-17 11:47] kirat68 commented on #16
Olá Franco,

Sorry was not enough concise. Yes I meant the log messages that are printed in the console.
Would be great the have them printed to a message port. Would be then available in the grc python code for further actions. Nice also would be to have the choice to route them to console (as it is now) or to message port or to both.

For example, catching "overload detected" could be nice to tr

[2021-11-17 19:43] kirat68 opened #18 "Automatic Gain Control (AGC) not working properly"
Hello Franco

Playing with the AGC right now.

I did not checked your code and do not know how it is implemented but AGC is creating noise when jumping around trying to reduce or  increase the gain. This is obviously not coming through in FM mode. But in AM it is absolutely problematic.

Test is simple. Disabling AGC stops this audible spikes.

Further more it seems that the SDR reacts to gain cha

[2021-11-18 01:49] fventuri commented on #18
Tarik,
the `gr-sdrplay3` GNU Radio module just enables/disables the AGC in the SDRplay API as requested by the user via the `set_gain_mode()` method (https://github.com/fventuri/gr-sdrplay3/blob/master/lib/rsp_impl.cc#L418-L441), but the actual implementation of the AGC happens inside the RSP hardware as you can see for instance in the high level block diagram of the RSPduo (https://www.sdrplay.co

[2021-11-29 15:21] pabs77 opened #19 "Bulk/Isochronous transfer mode"
Hey Franco :),
I'm trying to get my sdrplay rspduo to change the data transfer mode, which is part of the API. I found it quite difficult to find and had to go through a lot of trouble with the bindings and cmake builds on Windows. I think im close to achieve it .. But maybe it can be added as another instance or for the init parameters of the sdr such as: set antenna or bandwidht.. it is at the e

[2021-11-29 20:13] fventuri commented on #19
Thanks for the nice words, @pabs77 !
Kudos on your work to get it to run under Windows!

I tried to compile GNU Radio under Windows 10 a few months ago, so I could try the `gr-sdrplay3` module with it, but in the end I had to give up, because I do not have much experience with Windows (I run Linux here most of the time), and I wasn't able to fix some of the errors while trying to build GNU Radio (

[2021-11-30 03:19] fventuri commented on #19
@pabs77
I just created the new branch called `add_bulk_transfer_mode` (https://github.com/fventuri/gr-sdrplay3/tree/add_bulk_transfer_mode), that has a new method `set_bulk_transfer_mode(<boolean>)` to allow to select the USB transfer mode (the default is isochronous, as per SDRplay API Specification document).

Please give it a try when you have time, and if it looks good to you, I'll merge those

[2021-11-30 10:38] pabs77 commented on #19
Thx Franco this is awesome ! Im trying to build it but got lots of issues with pybind11 and it tells me it cannot find some files like rsp_pydoc.h and all of those _pydoc.h. I'll keep on trying and let you know whatever I achieve.

Have a nice day

________________________________
De: Franco Venturi ***@***.***>
Enviado: lunes, 29 de noviembre de 2021 10:19 p. m.
Para: fventuri/gr-sdrplay3 ***@***

[2021-12-02 23:00] gom-4 commented on #17
Solved, thank you!

Now,  I'm having another issue when trying to use my RSPDuo.

When I first connect it I can find it by typyng `lsusb` as:
`Bus 001 Device 008: ID 1df7:3020`

However, when executing a flowgraph in gnuradio, my devide suddenly gets disconected and I receive this error:

[code]
And after that, `lsusb` doesn't find the devide.

I would appreciate your help, thank you so much

[2021-12-03 00:50] fventuri commented on #17
@gom-4 This is very strange; I've seen a few cases where the service `sdrplay_api` crashes, but I've never seen a case where the USB device disappears altogether like you have.

I would like to see if there's any error message from the SDRplay API in the logs.
These are the steps to look for possible error messages:
- in the RSPduo block in GRC, under 'Properties -> Other Options', enable the prop

[2021-12-08 13:49] gom-4 commented on #17
Hi Franco,

The problem was caused by my virtual machine USB configuration. Finally managed to solve it changing the controller.

Thank you for your help and congratulations on your great work.

[2021-12-10 21:33] #17 closed

[2022-01-19 15:28] flocentblack opened #20 "RSPduo RF and IF gain"
First, thanks for creating this! Enjoyed some 80m CW this morning in stereo!

I understand that the RF and IF gain values are listed as attenuation instead of gain like on the SDRduo chart and on the chart, I believe the gain to be the combination of RF and IF gain.  I've read that the IF gain has a range of +20dB to +59dB,  How are is this expressed as attenuation, what are acceptable values for

[2022-01-19 22:58] fventuri commented on #20
@flocentblack - glad to hear you enjoyed some 80m CW for breakfast!

In this `gr-sdrplay3` module, the two gain parameters (`IF` and `RF`) are indeed gains, i.e. higher values mean higher signal gain (or less attenuation, if you prefer to look at it that way).

Since the SDRplay RSP family of devices 'thinks' in terms of 'gain reduction' (i.e. attenuation), the values you want to assign to the `IF

[2022-01-20 11:16] flocentblack commented on #20
Thanks Franco for clarifying the IF and RF gain values.

In regards to variables it appears that the block is passing the variable id to the API instead of the variable value:

Generate Error: **(ValueError("could not convert string to float: 'rf_gain_1'")**, ["set_sample_rate(${sample_rate if rspduo_mode == 'Single Tuner' else sample_rate_non_single_tuner})", "${'set_center_freq(' + center_freq +

[2022-01-20 13:15] flocentblack commented on #20
Another thing that I observed this morning was that while in independent RX mode tuned to the same frequency, the RF gain for RX0 affects the RF gain for RX1.  This is particularly noticeable on my system being that RX0 is connected to a 80 meter inverted L and RX1 is connected to a Loop-on-the-Ground antenna without a preamp, which has a noise floor below the noise floor of my RSPduo. Setting RF

[2022-01-20 13:47] fventuri commented on #20
@flocentblack - thanks for reporting both bugs.
I'll have sometime to look at them tonight after work (it's almost 9am here in Florida).

Regarding the first issue with 'rf_gain_1' being passed as a string instead of a float, I would like to be able to reproduce the problem here (because I suspect it might happen in more than one place) - would it be possible for you to attach the actual GNU Radio

[2022-01-21 12:33] fventuri commented on #20
@flocentblack - thanks for the .grc file.
I was able to reproduce the problem here with that file and I fixed the callback generation code in the RSPduo GRC block.

I just pushed the code to the `master` branch; please run `git clone` to get the latest version from the repository, install it, and try you GRC flowgraph again.

Franco

[2022-01-21 13:16] flocentblack commented on #20
Its working great! On to building a more capable receiver...

Thanks again and 73,

Eric / NQ8J

[2022-01-21 13:16] #20 closed

[2022-01-23 15:21] flocentblack opened #21 "Actual RSPduo center frequency is different than commanded frequency"
When starting a flow graph, the initial frequency and often when changing the center frequency within the same band, is correct.

When changing the RSPduo center frequency for a different band, or back to the initial band, there is an offset in the RSPduo's actual center frequency, along with this error:

"rspduo :error: sdrplay_api_Update(Tuner_Frf) Error: sdrplay_api_RfUpdateError"

Further atte

[2022-01-23 17:07] fventuri commented on #21
@flocentblack - Eric, thanks for reporting this problem.

I saw in the past a similar error message when the center frequency was changed too fast - see this comment: https://github.com/fventuri/gr-sdrplay3/issues/5#issuecomment-866848230 (and related thread).
I was wondering if this could be your case too.

Also I saw your flowchart uses the RSPduo in dual-tuner mode, which may introduce some com

[2022-01-24 01:14] flocentblack commented on #21
Single tuner, dual tuner (diversity) and dual tuner (independent RX) work fine into a null sink(s). RX frequency entered as variable, toggling between 80 and 20 meter frequencies, I could not get any errors.

I eliminated blocks, one by one until the error went away.  I was down to one Frequency Xlating Filter into a null sink without any errors.  It looks like two of those blocks at the same is a

[2022-01-24 03:17] fventuri commented on #21
@flocentblack - thanks for the detailed and very useful research on this issue.

Would you mind posting the simplest GNU Radio flowgraph that shows the problem (which I understand is the dual-tuner case sending their outputs to a pair of frequency xlating FIR filters), so I can run it here with my RSPduo to see if the issue occurs here too?

Thanks Eric,
Franco

[2022-01-24 13:50] flocentblack commented on #21
Here you go.  Thanks!

[test8.txt](https://github.com/fventuri/gr-sdrplay3/files/7925971/test8.txt)

[2022-01-25 02:02] fventuri commented on #21
@flocentblack - Eric, thanks for GNU Radio Companion flowgraph.

I took your flowgraph, generated the Python script with GRC, then I simplified that Python script to the attached Python script, where I was able to reproduce your problem with different pairs of central frequencies, in all cases the lower one was < 12MHz and the higher one was > 12MHz, confirming your hypothesis.

You can run the Py

[2022-01-25 13:31] flocentblack commented on #21
Thanks Franco for investigating this.  I would like to use the diversity reception mode, but my antennas are wildly different in gain, one being a is  loop on the ground, which has -20 to -30dB gain and the other an 80 meter inverted L. I need to run the input to tuner 2 wide open and then adjust the rf gain for tuner 1 as needed.  When I was using SDRUno in diversity mode, I could unlink the RF g

[2022-01-25 13:43] fventuri commented on #21
@flocentblack - thanks for the suggestion Eric.
I used SDRUno only a few times (and I've never tried diversity reception in SDRUno), so I wasn't aware that it allows to control the gains independently.
I think it should be possible to do the same in the GNU Radio module; tonight after work I'll see if I can make that change and I'll let you know.

73,
Franco

[2022-01-25 13:52] flocentblack commented on #21
Speaking of gains, in my opinion, using LNA state instead of gain makes for easier adjustment with only 7/9 positions instead of adjusting the slider value in dB until the LNA state flips to the next state.  But I’m fine if you orefer it the way it is.  I’m just thrilled to be able to still copy stations when there is QSB!

Eric

[2022-01-27 13:48] fventuri commented on #21
Eric,
I implemented your suggestion of having independent gain controls for dual tuner diversity reception mode in the new branch `rspduo_dual_tuner_fixes` (https://github.com/fventuri/gr-sdrplay3/tree/rspduo_dual_tuner_fixes).
I also made some improvements to the RSPduo code adding methods that allow to change both center frequencies, or both (IF and RF) gains with just one method call (which the

[2022-01-28 23:56] flocentblack commented on #21
Thanks Franco! I've uninstalled gr-sdrplay3-master and installed gr-sdrplay3-rspduo_dual_tuner_fixes. I haven't noticed the offset problem I had earlier after switching from <12MHz to >12MHz and back , but am still getting an API error.  Also (I may have misunderstood you), I'm not seeing the independent RF gain adjustment in diversity mode.

I have gone as far as trying to load the flowgraph afte

[2022-01-29 03:56] flocentblack commented on #21
^^^ The above post has been edited for clarity. ***

[2022-01-29 13:38] fventuri commented on #21
Eric, first of all thanks for giving it a try.

Let's start with the issue of the two independent RF gain adjustments in diversity mode.

In the new branch `rspduo_dual_tuner_fixes` in the `examples` directory you should see a very simple test case GRC flowgraph called `rspduo_dual_tuner_diversity_reception` (https://github.com/fventuri/gr-sdrplay3/blob/rspduo_dual_tuner_fixes/examples/rspduo_dual

[2022-01-29 14:32] flocentblack commented on #21
I opened the example flowgraph and no independent RF gain controls. Also the correct file is in the `/usr/local/share/gnuradio/grc/blocks` directory, verified by size and comparing changes from the master.  Weird huh?

[2022-01-29 14:36] flocentblack commented on #21
When I uninstalled the master version, all I did was `make uninstall`, from the master build directory. is there another step I am missing?

[2022-01-29 14:42] fventuri commented on #21
Eric, I agree - it is very weird.
Are you running GNU Radio 3.9 or 3.10 ?

Also using the very simple test case from the `examples` directory, could you generate the Python script from GNU Radio Companion and attach it here, so I can compare it with mine, to see if there are any differences that might help understand what's going on?

Thanks,
Franco

[2022-01-29 14:59] flocentblack commented on #21
I'm running GNU Radio 3.10.

[rspduo_dual_tuner_diversity_reception.txt](https://github.com/fventuri/gr-sdrplay3/files/7963935/rspduo_dual_tuner_diversity_reception.txt)

[2022-01-29 15:20] fventuri commented on #21
Eric,
the Python file you sent me seems to confirm that somehow your GRC block yaml file is still the old one; for instance the first few lines of the RSPduo block in your file have the following:
[code]

while here I have:
[code]

Notice how the AGC (gain mode) and `set_gain()` calls are different.

I just ran a quick search on the GNU Radio discussion mailing list, and found out that GNU Radio C

[2022-01-29 15:38] flocentblack commented on #21
That did it!  Works great, even when rapidly toggling bands. Thank you so much! I'll be watching out for the LNA state changes whenever you get the chance to work on that. Have a great weekend!

73,

Eric

[2022-01-29 15:38] #21 closed

[2022-02-07 18:37] sksail92 opened #22 "Problem building gr_sdrplay3"
Hello Franco,
I am trying to build gr_sdrplay3 on a Raspberry pi. It seems to be tricky as I do have to build almost everything from srcatch as the
packages I can download via APT are quite old.
Nevertheless afte a while I managed to build gnuradio (and a lot of dependencies boost  gnuradio  gr-osmosdr  gr-sdrplay3  pybind11  pygccxml  SoapySDR  SoapySDRPlay  spdlog  volk) from the git repos.

Onl

[2022-02-08 01:01] fventuri commented on #22
@sksail92
I did build GNU Radio (version 3.10) and this `gr-sdrplay3` OOT module (from the `gnuradio-3.10` branch) on my Raspberry Pi 4 a few times (both 32 bit and 64 bit), and I've never seen error messages like yours; at first glance they make me think that something is wrong somewhere with the Pybind11 installation, but I can't really tell exactly what is the problem.

I think it might be help

[2022-02-14 13:43] sksail92 commented on #22
Hello Franco,
with your help I was finally able to build gr_sdrplay3.  The main problem was using the "master" branch. Than there were a lot of Pyton libs missing. I think that the "openplotter" software reconfigured the Raspberry in an odd way.

In the end I needed to add a lot of information in the cmake call to make it work.

cmake -DENABLE_PYTHON=1 -DCMAKE_BUILD_TYPE=Release\
-DPYTHON_INCLUDE_

[2022-02-15 02:03] fventuri commented on #22
@sksail92 - I honestly am surprised that you had to add cmake options like `ENABLE_PYTHON`, which should already be set to `ON` in `GnuradioConfig.cmake` (which I think comes from `GrPython.cmake`: https://github.com/gnuradio/gnuradio/blob/main/cmake/Modules/GrPython.cmake) or `CMAKE_BUILD_TYPE=Release`, which should already be set here: https://github.com/fventuri/gr-sdrplay3/blob/gnuradio-3.10/C

[2022-02-20 01:05] fventuri opened #23 "Gain controls for LNA state"
@flocentblack
As we discussed a few weeks ago, I just created a new branch called `lnastate_gain_control` (https://github.com/fventuri/gr-sdrplay3/tree/lnastate_gain_control) that allows direct control of the LNA state (instead of having to go though the RF gain reduction).

In order to use it, I created a new gain name called `LNAstate` so that you can now assign directly the LNA state by using s

[2022-02-26 12:56] flocentblack commented on #23
Hi Franco,
I just tried the new branch. Works well when entering LNAx directly into the block. Still trying to figure out the correct syntax to enter LNArf_gain_slider_value into the RF gain field.

Thanks again!

[2022-02-26 13:30] fventuri commented on #23
@flocentblack - thanks for trying it out!

If you don't mind attaching the .grc file you are working on, I'll be happy to take a look too to help you out with the `LNArf_gain_slider_value`.

Franco

[2022-02-26 13:45] flocentblack commented on #23
Great! Here it is:
[nq8j_rx_2_6.txt](https://github.com/fventuri/gr-sdrplay3/files/8146713/nq8j_rx_2_6.txt)

[2022-02-26 15:35] fventuri commented on #23
@flocentblack - I just pushed a commit to the `lnastate_gain_control` branch to set the RF gain name to 'LNAstate' whenever the string 'LNA' (or 'lna') is in the RF gain field value; please download it and build with the latest changes.

I also added a couple of auxiliary variables (`lna_rx0` and `lna_rx1`; note that 'lna' is part of their name) in your GRC flowgraph, and I made these variables de

[2022-03-01 23:56] flocentblack commented on #23
Wow. Thanks, I understand what you did to the block and changes to my flowgraph.

I tried the new branch and flowgraph you created. I'm getting these errors:
`  File "/home/supereb/Downloads/nq8j_rx_2.py", line 646, in <module>
    main()
  File "/home/supereb/Downloads/nq8j_rx_2.py", line 624, in main
    tb = top_block_cls()
  File "/home/supereb/Downloads/nq8j_rx_2.py", line 261, in __init__

[2022-03-02 01:06] fventuri commented on #23
@flocentblack
Eric, can you check what you have in lines 38-42 of the RSPduo GRC block (https://github.com/fventuri/gr-sdrplay3/blob/lnastate_gain_control/grc/sdrplay3_rspduo.block.yml#L38-L42)?

Those lines should look like this:
[code]

As you can see, if the RF gain fields contain 'LNA' or 'lna', that code should generate the Python line that invokes `set_gain()` with the gain name set to `LNAs

[2022-03-02 01:56] flocentblack commented on #23
In `/usr/local/share/gnuradio/grc/blocks/sdrplay3_rspduo.block.yml`, 38-42:
` % if str(rf_gR0)[1:4] == 'LNA' and str(rf_gR1)[1:4] == 'LNA':
    self.${id}.set_gain(int(${rf_gR0}[3:]), int(${rf_gR1}[3:]), 'LNAstate')
    % else:
    self.${id}.set_gain(-float(${rf_gR0}), -float(${rf_gR1}), 'RF')
    % endif`
Line 261 of generated python script:
` self.sdrplay3_rspduo_0.set_gain(-float(lna_rx0), -fl

[2022-03-02 03:18] fventuri commented on #23
No, this time is not a cache problem; if you look closely your line 38 is:
[code]
while line 38 in the code in GitHub  (https://github.com/fventuri/gr-sdrplay3/blob/lnastate_gain_control/grc/sdrplay3_rspduo.block.yml#L38) is:
[code]

Perhaps you forgot to run `git pull` or `sudo make install` from the latest version?

Franco

[2022-03-02 22:19] flocentblack commented on #23
Although I downloaded the latest version, I made the mistake of using the previous version with the same name located in my /home folder. Obviously, I'm 'amateur' at more than just radio...  Sorry that took up your time.

It works great. Thank you so much for implementing this, I appreciate it very much!

73,

Eric

[2022-03-03 00:58] fventuri commented on #23
Eric,
thanks for checking; I am glad to hear that everything works as expected.

I just merged these changes for the `LNA state` RF gain control into the `master` branch (and in the `gnuradio-3.10` branch).

73,
Franco

[2022-03-03 00:58] #23 closed

[2022-03-23 09:37] gvanem opened #24 "Use of boost::format() in GR 3.10"
I've checked out the gnuradio-3.10 branch of this project like this:
[code]

Correct?

But I've big troubles compiling it due to the use of `boost::format()`  etc. From a `clang-cl` compile:
[code]
etc. etc.

Shouldn't this really be:
[code]

These errors happened recently. So perhaps there's was another breaking commit in GR-master repo that caused this?

[2022-03-23 11:23] fventuri commented on #24
Good catch Gisle.

I just tried to rebuild the 'gnuradio-3.10' branch here this morning against the 'main' branch of GNU Radio, and it failed with the same errors you saw (which will need exactly the fix you suggested).
My previous successful build was on 3/16, i.e. about a week ago, so, as you correctly noticed, the change happened in the `main` branch in the last week.
Since the `main` branch is

[2022-03-23 12:10] gvanem commented on #24
Besides, are we **required** to use those butt-ugly `{:s}` formats now?
So what is the replacement for e.g. `%lg`?

A big step backwards with these SPDlog formats IMHO. Why not both?

But testing GR 3.11 with a `top_block.py` generated from `FM-Receiver-SDRplay.grc` works fine with my RSP1a.
But some formats are still wrong:
`  [*** LOG ERROR #0001 ***] [2022-03-23 13:03:48] [rsp1a] {invalid type

[2022-03-23 12:21] fventuri commented on #24
Yup - I am planning to switch to use 'fmt' and 'spdlog', like they do in 3.11, in the new 'main' branch after I'm done moving those branches around.

[2022-03-23 12:45] gvanem commented on #24
I figured out those SPDlog format. Not so hard. Except to replace a `%.2lf`, I used `{2:.2f}`.
Here are my [diffs](https://github.com/fventuri/gr-sdrplay3/files/8333037/diffs-lib-gr-11.txt) with some fixes for clang-cl.

[2022-03-24 02:24] fventuri commented on #24
Thanks for all your help, Gisle.
I switched to 'spdlog' and '{fmt}' (no more boost::format) like you did in the diffs in the new `main` branch, and I was able to build the OOT module, and to run a GNU Radio Companion flowgraph without errors.

Please give it a try when you have some time and let me know what you think,
Franco

[2022-03-24 09:49] gvanem commented on #24
Works fine! But kinda confusing that this commit is in `master`. No `maint-3.11` when there is a `maint-3.10` ..

[2022-03-24 12:35] fventuri commented on #24
Gisle,
first of all thanks for trying it out and I am really glad it is working well there too.

The names of the branches in `gr-sdrplay3` now match exactly the names of the branches in GNU Radio; they have a branch for version 3.9 (which is in maintenance mode) called `maint-3.9`, another branch for 3.10 (in maintenance mode too) called `maint-3.10`, and finally a branch for the ongoing developm

[2022-08-30 11:40] zywek123 opened #25 "sdrplay3 not properly compiled"
Hi.
I'm trying to compile master gr-sdrplay3 and everything works, however after doing a make install and running gqrx I'm not able to see in builtin source types sdrplay, while typing in Other sdrplay=0 or whatever to start the receiver it just doesn't work. Do I need to compile the whole gnuradio manually and patch CMakeFiles in gnuradio and all source files to get a working version of gr-sdrpla

[2022-08-30 12:02] fventuri commented on #25
@zywek123 - I haven't used gqrx in a while, but if I remember correctly, it doesn't support every GNU Radio source block directly; I think it supports mainly 'gr-osmosdr' and 'gr-soapy' via SoapySDR.

For osmosdr support with SDRplay API version 3.X (3.07 is the latest for Linux) you can try the 'gr-osmosdr' OOT module from here: https://github.com/fventuri/gr-osmosdr

For SoapySDR support, you ca